@import 'variables';

.btn {
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  transition: 100ms all ease;
  box-sizing: border-box;
  outline: none;
  background: transparent;
  color: $white;
  border: none;
  font-size: 18px;

  &:hover {
    color: $wild-sand;
  }

  &:disabled,
  &:hover:disabled {
    color: $dusty-sand-gray;
  }
}

