@import '../../../styles/variables';

progress {
  color: $red;
  width: 100%;
  height: 5px;
  border: none;
  background: $wild-sand;
  margin: 0;
  border-radius: 9px;
  vertical-align: middle;
  cursor: pointer;

  &[value]::-webkit-progress-bar {
    background-color: $wild-sand;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba($black, 0.25) inset;
  }

  &[value]::-webkit-progress-value {
    background-color: $red;
    transition: 1000ms all ease;
  }
}
